@function generate-border($px, $color) {
  @return $px solid $color;
}

/* Clase que pertenece body y permite definir el fondo del curriculum */

.page {
  min-height: 100vh;
  font-family: $font-family-open-sans;
  color: $color-black;
  background: linear-gradient(135deg, $color-grey, #9e9e9e 50%, #e0e0e0 0, #e0e0e0);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Clase que hace referncia a la página donde es escrito el curriculum */

.cv {
  margin: 25px 25px;
  background-color: $color-white-cv;
  border: generate-border(5px, $color-black);

  @media screen and (min-width: $laptop-viewport) {
    margin: 25px 150px;
  }
}

/* Clase utilitaria que nos permite aportar la propiedad flex y hacer responsiva la organización de la misma */

@function column-width($col) {
  @return percentage($col / 12);
}

.flex {
  display: flex;
  flex-wrap: wrap;

  &--center {
    justify-content: center;
  }
  
  &--space-around {
    justify-content: space-around;
  }

  &--direction-column {
    flex-direction: column;
  }

  &--align-items-center {
    align-items: center;
  }

  &__item {
    box-sizing: border-box;
    width: 100%;

    @for $i from 1 through $total {
      &--#{$i} {
        @media screen and (min-width: $laptop-viewport) {
          width: column-width($i);
        }
      }
    }
  }
}

/* Elementos del curriculum como son la cabecera, el pie de página, la educación, ... */

.cv-header {
  padding-bottom: 25px;
  text-align: center;
  border-bottom: generate-border(25px, $color-beis);
}

.cv-footer {
  padding: 10px;
  background-color: lightgray;
  border-top: generate-border(5px, $color-black);

  &__link {
    color: $color-black;
  }
}

.cv-education {
  margin-bottom: 50px;
  text-align: center;

  &__title {
    max-width: 200px;
    font-weight: 750;
    color: $color-title-organization;
  }

  &__date-range {
    font-size: small;
    color: $color-date-range;
  }
}

.cv-skills {
  max-width: 75%;
  margin: 25px auto;

  @media screen and (min-width: $laptop-viewport) {
    max-width: 50%;
  }
}

.cv-personal-information {
  max-width: 75%;
  margin: 25px auto;
  line-height: 1.5;
  text-align: justify;
}

/* Permite definir las cabeceras de las diferentes secciones de la página */

.cv-heading {
  margin: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  &--left {
    text-align: left;
  }

  &__primary-text {
    display: block;
    font-size: 32px;

    @media screen and (min-width: $laptop-viewport) {
      font-size: 44px;
    }
  }

  &__secondary-text {
    font-size: 20px;

    @media screen and (min-width: $laptop-viewport) {
      font-size: 24px;
    }

    &--underline {
      border-bottom: generate-border(1px, $color-grey);
    }
  }

  &__tertiary-text {
    font-size: 18px;

    &--sub {
      font-size: 16px;
      color: $color-grey;
    }
  }
}

/* Clase para aplicar estilos iguales a las etiquetas que representen un listado */

.list {
  display: block;
  max-width: 75%;
  padding: 0;
  margin: 0 auto;
  text-align: left;
  list-style: none;

  @media screen and (min-width: $laptop-viewport) {
    max-width: 50%;
  }

  &__item {
    margin-bottom: 5px;
  }
}

/* Clase que se aplica a las diferentes imágenes del curriculum */

.photo {
  max-width: 150px;
  height: auto;

  &--border {
    border: generate-border(5px, $color-black);
  }
}

/* Clase que nos permite definir pequeñas etiquetas de diferentes colores con mensajes escuetos */

.tag {
  display: inline-block;
  max-width: 200px;
  padding: 5px;
  margin: 5px;
  font-size: 0.75em;
  font-weight: 700;
  color: $color-black;
  text-transform: uppercase;
  background-color: $color-black;
  border-radius: 3px;
  
  &--blue {
    background-color: $color-blue-tag;
  }

  &--green {
    background-color: $color-green-tag;
  }

  &--pink {
    background-color: $color-pink-tag;
  }

  &--orange {
    background-color: $color-orange-tag;
  }

  &--red {
    background-color: $color-red-tag;
  }
}
