$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$font-family-open-sans: "Open Sans";

$uoc-corporate: #000078;
$uoc-masterbrand: #ff73ff;

$color-black: #424242;
$color-title-organization: #5e9dc0;
$color-date-range: grey;
$color-white-cv: whitesmoke;
$color-blue-tag: #6dcff6;
$color-green-tag: #c4df9b;
$color-pink-tag: #ec87b7;
$color-orange-tag: #eeb690;
$color-red-tag: #f58981;
$color-beis: #eee;
$color-grey: #bdbdbd;

$laptop-viewport: 780px;

$num-total-col: 12;
